.tituloGr {
  font-size: 60px;
}

.colorFondo {
      background-color: #FF530D;

    }

    .imgFondo{
    	background-image: url(../img/fondo.jpg);
    	background-attachment:fixed;
    	background-size:cover;
    	background-repeat: no-repeat;

      color: #080807;


    }


    .PanelTranparente{
          background-color: rgba(0, 0, 0, 0.35);
          transition: 2s;

        }
        .PanelTranparente:hover{
          transition: .8s;
          /* Color al sobreponer mouse */
      		background-color: rgba(0,0,0,.68);
          box-shadow: 0px 0px 40px rgba(14, 223, 104, 0.9),0px 0px 80px rgba(256,256,256 ,1);
        }
